<!DOCTYPE html>
<html lang="en">
    <head>
        
        <link rel="stylesheet" href="static/styles/about.css">
        {% include 'header.html' %}
        
        
        <title>About Us | Singularity</title>
         
    </head>
    
    <body>
        
        {% include 'navbar.html' %}


        <div data-aos="fade-in" data-aos-duration="700">

            <div class="sectionHeader">
                <h1>About <span class="purpText">Singularity</span></h1>
                <p>Singularity is a generative AI service company. We deliver creative and innovative AI solutions.</p>
            </div>
        </div>

        <div data-aos="fade-right" data-aos-duration="700" data-aos-delay="300">
                
            <div class="teamMember">
                <div>
                    <h1>Shiloh Olotu <span class="lighter">• Lead Designer</span></h1>
                    <p>Shiloh Olotu discovered his passion for art and technology sketching futuristic cities and exploring early computers. At Singularity, he develops creative AI interfaces that inspire users worldwide.</p>
                </div>
                <img class="teamFace" src="static/assets/team/shilohOlotu.jpg">
            </div>

            <div class="teamMember">
                <div>
                    <h1>Nolan Yee <span class="lighter">• Business Manager</span></h1>
                    <p>Nolan Yee began business management at a young age selling lemonade to neighbors. After studying AI in university, he upscaled his endeavors to bring AI to consumers worldwide.</p>
                </div>
                <img class="teamFace" src="static/assets/team/nolanYee.png">
            </div>

            <div class="teamMember">
                <div>
                    <h1>Ben Nasse <span class="lighter">• Backend Engineer</span></h1>
                    <p>Ben Nasse honed his coding skills early, building his first app in high school. Now, with Singularity, he ensures the seamless performance and reliability of the AI systems powering user experiences worldwide.</p>
                </div>
                <img class="teamFace" src="static/assets/team/benNasse.png">

            </div>

        </div>

        <div class="about" data-aos="fade-right" data-aos-duration="700">
            <div>
                <h1>Our Philosophy</h1>
                <p>Singularity's philosophy is rooted in the belief that AI should <span class="purpText">amplify</span> human ingenuity rather than replace it. This ethos is reflected in our core services, which are designed to <span class="purpText">empower</span> individuals and organizations to reach new heights of creativity and efficiency. Singularity's generative AI tools are tailored to <span class="purpText">enhance</span> human input, providing inspiration, refining ideas, and automating mundane tasks to free up time for more strategic endeavors.</p>
            </div>
        </div>

        <div class="about" data-aos="fade-right" data-aos-duration="700">
            <div>
                <h1>Our Partners</h1>
                <p>Several businesses already utilize Singularity's generative AI services to benefit their own creativity, innovation, and technological capacity. Here's some below!</p>
            </div>
        </div>

        <div class="partners" data-aos="fade-right" data-aos-duration="700">
            
            <div class="logos-slide">
                <img src="static/assets/otherlogos/apple.png">
                <img src="static/assets/otherlogos/fbla.png">
                <img src="static/assets/otherlogos/google.png">
                <img src="static/assets/otherlogos/caravan.png">
                <img src="static/assets/otherlogos/microsoft.png">
                <img src="static/assets/otherlogos/meta.png">
                <img src="static/assets/otherlogos/armstrong.png">
                <img src="static/assets/otherlogos/nike.png">
            </div>
            <div class="logos-slide">
                <img src="static/assets/otherlogos/apple.png">
                <img src="static/assets/otherlogos/fbla.png">
                <img src="static/assets/otherlogos/google.png">
                <img src="static/assets/otherlogos/caravan.png">
                <img src="static/assets/otherlogos/microsoft.png">
                <img src="static/assets/otherlogos/meta.png">
                <img src="static/assets/otherlogos/armstrong.png">
                <img src="static/assets/otherlogos/nike.png">
            </div>
        </div>


        <div class="gap"></div>
        <div class="gap"></div>



        
        {% include 'footer.html' %}

        {% include 'scripts.html' %}
        
    </body>
    
</html>