<!DOCTYPE html>
<html lang="en">
    <script src="https://www.gstatic.com/firebasejs/10.7.2/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.7.2/firebase-firestore-compat.js"></script>
    <head>
        
        {% include 'header.html' %}

        <title>Apply to Singularity | Singularity</title>
         
    </head>
    
    <body>
        
        {% include 'navbar.html' %}


        <div data-aos="fade-in" data-aos-duration="700">
            <div class="application">
                <div>
                    <h1>Apply to Singularity</h1>
                    <p class="subtitle">Fields marked with a * are required.</p>
                    <form>
                        <label for="joblist">What job are you applying to? *</label>
                        <input id="job" list="joblist" name="joblist" placeholder="Please select option" required>
                        <datalist id="joblist">
                            <option value="Hardware/Software Co-Design Engineer">
                            <option value="Applied AI Product Data Scientist">
                            <option value="Insider Risk Investigator">
                            <option value="Revenue Technology Product Manager">
                            <option value="Analytics Engineer, Finance">
                            <option value="Solutions Architect">
                        </datalist>

                        <label for="firstname">First Name *</label>
                        <input type="text" id="firstname" name="firstname" placeholder="Ex: John" required>

                        <label for="lastname">Last Name *</label>
                        <input type="text" id="lastname" name="lastnme" placeholder="Ex: Doe" required>

                        <label for="email">Email *</label>
                        <input type="email" id="email" name="email" placeholder="Ex: JohnDoe@email.com" required>

                        <label for="phone">Phone</label>
                        <input type="text" id="phone" name="phone" placeholder="Ex: (888) 888-8888">

                        <label for="resume">Link to Resume/CV *</label>
                        <input type="text" id="resume" name="resume" required>

                        <hr>

                        <br><label for="outreach">How did you hear about Singularity?</label>
                        <input type="text" id="outreach" name="outreach">

                        <label for="startdate">When can you start a new role? *</label>
                        <input type="text" id="startdate" name="startdate" required>

                        <label for="immigrationList">Do you now or will you in the future require visa sponsorship to continue working in the United States? *<br><span class="subtitle">We provide immigration and sponsorship support to employees based on unique circumstances.</span></label>
                        <input id="immigration" list="immigrationList" name="immigration" placeholder="Please select option" required>
                        <datalist id="immigrationList">
                            <option value="Yes">
                            <option value="No">
                            <option value="Other">
                        </datalist>

                        <label for="workabilityList">Are you able to work from our Houston HQ 3 days per week? *</label>
                        <input id="workability" list="workabilityList" name="workability" placeholder="Please select option" required>
                        <datalist id="workabilityList">
                            <option value="Yes">
                            <option value="No">
                        </datalist>

                        <label for="additionalinfo">Additional Information<br><span class="subtitle">Please share anything else you want us to know, such as your motivation for applying or additional context for your application.</span></label>
                        <textarea id="additionalinfo" name="additionalinfo"></textarea>

                        <label for="profile">Where can we learn more about you?<br><span class="subtitle">Ex: Linkedin profile, personal website, portfolio page</span></label>
                        <input type="text" id="profile" name="profile">

                        <label for="experienceList">How many years of relevant experience do you have, excluding internships or academia?</label>
                        <input id="experience" list="experienceList" name="experience" placeholder="Please select option">
                        <datalist id="experienceList">
                            <option value="0-1">
                            <option value="2-4">
                            <option value="5-7">
                            <option value="7+">
                        </datalist>
                        <button id="applyButton" onclick="setTimeout(submitApplication,10)">Submit</button>
                    </form>
                </div>
            </div>
        </div>


        <div class="gap"></div>
        {% include 'footer.html' %}

        {% include 'scripts.html' %}
        
    </body>

    
    
</html>