<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css?family=Poppins:400,600,800" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Share+Tech&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="static/styles/main.css">

        <!-- Animate on Scroll -->
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <!-- Jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <!-- Preload slideshow images-->
        <link rel="preload" as="image" href="assets/slideshow/mona.png">
        
        <title>Careers | Singularity</title>
         
    </head>
    
    <body>
        
        <!-- NAVBAR -->
        <div id="navbar">
            <a class="logo" href="/"><img src="static/assets/logo.png">singularity</a>
            <div class="navigation">
                <a href="/demo">Demo</a>
                <a href="/careers">Careers</a>
                <a href="/application">Apply</a>
                <a href="/sources">Sources</a>
            </div>
        </div>


        <div data-aos="fade-in" data-aos-duration="700">

            <div class="sectionHeader">
                <h1>Careers at<br><span class="purpText">Singularity</span></h1>
                <p>Our mission is to create creative AI systems that are both safe and beneficial to the world through the collaboration of individuals with diverse disciplines and backgrounds. We are always looking for imaginative minds to join our team.</p>
                <a href="/positions">View open positions</a>
            </div>


            <div class="companyInfo">
                <div>
                    <h1>Our Core Values</h1>
                    <p>At Singularity, we operate on a crucial set of core values. As a visionary creative AI company, we prioritize <span class="purpText">ethical innovation,</span> ensuring that our AI technology is developed with profound commitments to ethical standards. Additionally, we believe that <span class="purpText">transparency</span> in demystifying AI development is a cornerstone that allows us to foster trust among stakeholders.</p>
                    <br><p><span class="purpText">Collaboration</span> is key at Singularity. We embrace diversity in thought and ideas, drawing upon a berth of perspectives to maximize our consideration of diverse perspectives. Lastly, we are committed to <span class="purpText">lifelong learning,</span> as we believe education allows for us to make positive changes in the future through AI.</p>
                </div>
            </div>
            <div class="companyInfo">
                <div>
                    <h1>Why Work At Singularity?</h1>
                    <p>At Singularity, we value our workers and understand that their well-being is key. Our comprehensive benefits support you in the moment, allowing you to prioritize your life and confidently prepare for the future.</p>
                </div>
                
            </div>
            <div id="benefits">
                <div>
                    <strong>For employees</strong>
                    <ul>
                        <li>Health, dental, and vision insurance</li>
                        <li>Mental health and wellness support</li>
                        <li>Benefits for commuters</li>
                        <li>401(k) with 6% matching</li>
                    </ul>
                </div>
                <div>
                    <strong>Life and family</strong>
                    <ul>
                        <li>Flexible work hours</li>
                        <li>20 weeks paid parental leave</li>
                        <li>Life and AD&D insurance</li>
                        <li>Family planning services</li>
                    </ul>
                </div>
                <div>
                    <strong>Culture and development</strong>
                    <ul>
                        <li>Annual learning and development stipend</li>
                        <li>Employee resource groups</li>
                        <li>Daily breakfast, lunch, and dinner</li>
                        <li>A warm community and environment</li>
                    </ul>
                </div>
            </div>

            <!--
            
            <div id="openPositions">
                <h1>Open Positions</h1>
                    <p>Apply today to join a team full of diverse, passionate, and innovative individuals all oriented towards building an AI-powered creative future.</p>
                    <br><hr>
                    <div class="listing">
                        <div class="left-align">Hardware/Software Co-Design Engineer</div>
                        <div class="right-align"><a href="/application">Apply now</a></div>
                    </div>
                    <div><a href="/engineer">View more information</a></div>
                    <hr>
                    <div class="listing">
                        <div class="left-align">Applied AI Product Data Scientist</div>
                        <div class="right-align"><a href="/application">Apply now</a></div>
                    </div>
                    <div><a href="/data">View more information</a></div>
                    <hr>
                    <div class="listing">
                        <div class="left-align">Insider Risk Investigator</div>
                        <div class="right-align"><a href="/application">Apply now</a></div>
                    </div>
                    <div><a href="/risk">View more information</a></div>
            </div>

            -->
                
                
        

            <div class="gap"></div>
            <div class="gap"></div>

        </div>
        <!-- FOOTER -->
        <div id="footer">

            <div id="logoColumn">
                <img src="/static/assets/branding/logo-white.png">
            </div>
            

            <div>
                <p>Navigation</p>
                <a href="/">Home</a>
                <a href="/demo">Demo</a>
                <a href="/careers">Careers</a>
                <a href="/application">Apply</a>
            </div>

            <div>
                <p>Contact</p>
                <a>(000) 000-0000</a>
                <a>hello@singularityai.com</a>
            </div>

            <div>
                <p>Citations</p>
                <a>Sources</a>
            </div>

        </div>

        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
          AOS.init();
        </script>
        
    </body>
    
</html>