<!DOCTYPE html>
<html lang="en">
    <head>
        
        <link rel="stylesheet" href="static/styles/careers.css">
       {% include 'header.html' %}

        
        
        <title>Careers | Singularity</title>
         
    </head>
    
    <body>
        
        {% include 'navbar.html' %}


        <div style="height: 10vh;"></div>

        <div data-aos="fade-in" data-aos-duration="700">

            <div class="careersHeader">

                <img src="static/assets/laptop.png">

                <div class="sectionHeader">
                    <div>
                        <h1>Let's Work<br><span class="purpText">Together</span></h1>
                        <p>Our mission is to create creative AI systems that are both safe and beneficial to the world through the collaboration of individuals with diverse disciplines and backgrounds.</p>
                        <a href="/positions">View open positions</a>
                    </div>
                </div>


            </div>

            <div style="height: 12vh;"></div>


            <div class="companyInfo">
                <div>
                    <h1>Our Core Workplace Values</h1>
                    <p>At Singularity, we operate on a crucial set of core values. As a visionary creative AI company, we prioritize <span class="purpText">ethical innovation,</span> ensuring that our AI technology is developed with profound commitments to ethical standards. Additionally, we believe that <span class="purpText">transparency</span> in demystifying AI development is a cornerstone that allows us to foster trust among stakeholders.</p>
                    <br><p><span class="purpText">Collaboration</span> is key at Singularity. We embrace diversity in thought and ideas, drawing upon a berth of perspectives to maximize our consideration of diverse perspectives. Lastly, we are committed to <span class="purpText">lifelong learning,</span> as we believe education allows for us to make positive changes in the future through AI.</p>
                </div>
            </div>
            <div class="companyInfo">
                <div>
                    <h1>Why Work At Singularity?</h1>
                    <p>At Singularity, we value our workers and understand that their well-being is key. Our comprehensive benefits support you in the moment, allowing you to prioritize your life and confidently prepare for the future.</p>
                </div>
                
            </div>
            <div id="benefits">
                <div>
                    <strong>For employees</strong>
                    <ul>
                        <li>Health, dental, and vision insurance</li>
                        <li>Mental health and wellness support</li>
                        <li>Benefits for commuters</li>
                        <li>401(k) with 6% matching</li>
                    </ul>
                </div>
                <div>
                    <strong>Life and family</strong>
                    <ul>
                        <li>Flexible work hours</li>
                        <li>20 weeks paid parental leave</li>
                        <li>Life and AD&D insurance</li>
                        <li>Family planning services</li>
                    </ul>
                </div>
                <div>
                    <strong>Culture and development</strong>
                    <ul>
                        <li>Annual learning and development stipend</li>
                        <li>Employee resource groups</li>
                        <li>Daily breakfast, lunch, and dinner</li>
                        <li>A warm community and environment</li>
                    </ul>
                </div>
            </div>
                
        

            <div class="gap"></div>

        </div>

        
        {% include 'footer.html' %}

        {% include 'scripts.html' %}
        
    </body>
    
</html>