<!DOCTYPE html>
<html lang="en">
    <head>
        
        {% include 'header.html' %}

        <link rel="stylesheet" href="static/styles/contact.css">
        
        <title>Contact Us | Singularity</title>
         
    </head>
    
    <body>
        
        {% include 'navbar.html' %}


        <div data-aos="fade-in" data-aos-duration="700">
            <div class="contactHeader">
                <h1>Contact <span class="purpText">Singularity</span></h1>
                <p>Fields marked with a * are required.</p>
            </div>

            <div class="contactUs">
                <form id="contactForm">
                    <label for="name">Name *</label>
                    <input type="text" id="cname" name="name" required>

                    <label for="email">Email *</label>
                    <input type="email" id="cemail" name="email" required>

                    <label for="message">Message *</label>
                    <textarea id="cmessage" name="message" rows="4" required></textarea>

                    <input type="submit" value="Send">
                </form>
            </div>
            <div class="confirmation" id="confirmationMessage">
                Thank you for contacting us! We will get back to you soon.
            </div>
    
            <div class="gap"></div>
        </div>

        
        {% include 'footer.html' %}

        {% include 'scripts.html' %}

        <script src="static/scripts/contact.js"></script>

    </body>
    
</html>