<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css?family=Poppins:400,600,800" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Share+Tech&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="static/styles/main.css">

        <!-- Animate on Scroll -->
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <!-- Jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <!-- Preload slideshow images-->
        <link rel="preload" as="image" href="assets/slideshow/mona.png">
        
        <title>Applied AI Product Data Scientist | Singularity</title>
         
    </head>
    
    <body>
        
        <!-- NAVBAR -->
        <div id="navbar">
            <a class="logo" href="/"><img src="static/assets/logo.png">singularity</a>
            <div class="navigation">
                <a href="/demo">Demo</a>
                <a href="/careers">Careers</a>
                <a href="/application">Apply</a>
                <a href="/sources">Sources</a>
            </div>
        </div>


        <div data-aos="fade-in" data-aos-duration="700">
            <div class="jobStuff">
                <a href="/careers" class="backto">&#8598; Return to Careers</a>
                <h1>Applied AI Product Data Scientist</h1>
                <br><hr><br>
                <a href="/application" class="apply">APPLY NOW</a>
                <br>
                <h2>Job Description</h2>
                <p class="paragraph">We are seeking an <span class="purpText">Applied AI Product Data Scientist</span> to join our Applied Product team at Singularity. In this role, you will contribute to establishing a data-driven product development culture, focusing on either consumer products or developer platforms. As a core member of the product development team, you will play a pivotal role in shaping our first-party offerings. Most importantly, you will work closely with the development of Singularity through the definition of our north-star metrics and A/B tests.</p>
                <h2>Job Requirements</h2>
                <ul class="paragraph">
                    <li>5+ years of experience in a quantitative data science or product analyst role in a hyper-growth product company, navigating extensively ambiguous environments</li>
                    <li>Mastery of SQL and Python to design and run rigorous experiments providing clear product recommendations and insights</li>
                    <li>Experience defining and successfully implementing new feature/product metrics from scratch</li>
                    <li>Excellent communication skills with demonstrated ability to communicate with managers, executives, and engineers</li>
                </ul>
                <h2>Location</h2>
                <p class="paragraph">This job is based in Houston, TX. We use a flexible hybrid work model with 3 days in the office per week.</p>
                <h2>Salary and Benefits</h2>
                <p class="salaryrange">Annual Salary Range: $245,000—$385,000 USD</p>
                Compensation also includes generous equity (in company stock) along with the following benefits:
                <ul class="paragraph">
                    <li>Medical, dental, and vision insurance for yourself and your family</li>
                    <li>Mental health and wellness support</li>
                    <li>401(k) plan with 6% matching</li>
                    <li>Unlimited time off and 18+ company holidays per year</li>
                    <li>Paid parental leave (20 weeks) and family planning support</li>
                    <li>Annual learning and development stipend ($2000/year)</li>
                </ul>
                <a href="/application" class="apply">APPLY NOW</a>
            </div>

            

            
        </div>

        <div class="gap"></div>

    
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
          AOS.init();
        </script>
        
    </body>
    
</html>