<div id="footer">

    <div id="logoColumn">
        <img src="/static/assets/branding/logo-white.png">
    </div>
    

    <div>
        <p>Navigation</p>
        <a href="/">Home</a>
        <a href="/demo">Demo</a>
        <a href="/careers">Careers</a>
        <a href="/application">Apply</a>
    </div>

    <div>
        <p>Contact</p>
        <a>(000) 000-0000</a>
        <a href="/contact">hello@singularityai.com</a>
    </div>

    <div>
        <p>Citations</p>
        <a href="/sources">Sources</a>
    </div>

</div>