<!DOCTYPE html>
<html lang="en">

    <head>
        
        <meta charset="UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css?family=Poppins:400,600,800" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Share+Tech&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="static/styles/main.css">

        <!-- Animate on Scroll -->
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <!-- Jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <!-- Preload slideshow images-->
        <link rel="preload" as="image" href="assets/slideshow/mona.png">
        <link rel="preload" as="image" href="assets/slideshow/text-gen.png">

        <!-- Favicon -->
        <link rel="icon" href="static/assets/logo.png">
        
        <title>Singularity | The power of AI at your fingertips</title>
         
    </head>
    
    <body>

        <div id="navbar">
            <a class="logo" href="/"><img src="static/assets/logo.png">singularity</a>
        </div>


        <div data-aos="fade-in" data-aos-duration="700">
            <div id="landingSection">
                <div id="aiText">
                    <h1>The power of AI, <span class='purpText'>at your fingertips.</span></h1>
                    <p>Here at singularity, we provide cutting-edge AI-powered services to maximize creativity and productivity through text, image, and code generation.</p>
                    <a id="getStarted" href="/demo">Get Started</a>
                </div>
                <img id="aiHead" src="static/assets/hand.png">
            </div>

            

            
        </div>

        <div class="gap"></div>

        <div id="slideControls">
            <img src="static/assets/svg/left.svg" id="prevSlide" onclick="prevSlide()" style="margin-right:20px">
            <div id="slideDot0" class="slideDot" onclick="showSlide(0)"></div>
            <div id="slideDot1" class="slideDot" onclick="showSlide(1)"></div>
            <div id="slideDot2" class="slideDot" onclick="showSlide(2)"></div>
            <img src="static/assets/svg/right.svg" id="nextSlide" onclick="nextSlide()" style="margin-left:20px">
        </div>

        <div id="slideshow">
            <img src="static/assets/mona.png" id="blurbImg">
            <div>
                <h1 id="blurbHeader">Write Content <span class="purpText">Effortlessly.</span></h1>
                <p id="blurbText">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy
                    text ever since the scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry’s standard dummy text ever since the scrambled it to make a type specimen book.Lorem
                    Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever
                    since the scrambled it to make a type specimen book.
                </p>
            </div>
        </div>

        <div class="gap"></div>

        <div class="review">
            <img class="reviewFace" src="static/assets/reviews/face1.png">
            <div>
                <div style="display:flex">
                    <img class="reviewStar" src="static/assets/reviews/full-star.png">
                    <img class="reviewStar" src="static/assets/reviews/full-star.png">
                    <img class="reviewStar" src="static/assets/reviews/full-star.png">
                    <img class="reviewStar" src="static/assets/reviews/full-star.png">
                    <img class="reviewStar" src="static/assets/reviews/full-star.png">
                </div>
                <h3>Blah blah blah Blah blah blah Blah blah blah Blah</h3>
                <p>blah blah</p>
            </div>
        </div>

        <div class="review">
            <img class="reviewFace" src="static/assets/reviews/face2.png">
            <div>
                <div style="display:flex">
                    <img class="reviewStar" src="static/assets/reviews/full-star.png">
                    <img class="reviewStar" src="static/assets/reviews/full-star.png">
                    <img class="reviewStar" src="static/assets/reviews/full-star.png">
                    <img class="reviewStar" src="static/assets/reviews/full-star.png">
                </div>
                <h3>Blah blah blah Blah blah blah Blah blah blah Blah</h3>
                <p>blah blah</p>
            </div>
        </div>

        <div class="review">
            <img class="reviewFace" src="static/assets/reviews/face3.png">
            <div>
                <div style="display:flex">
                    <img class="reviewStar" src="static/assets/reviews/full-star.png">
                    <img class="reviewStar" src="static/assets/reviews/full-star.png">
                    <img class="reviewStar" src="static/assets/reviews/full-star.png">
                    <img class="reviewStar" src="static/assets/reviews/full-star.png">
                    <img class="reviewStar" src="static/assets/reviews/full-star.png">
                </div>
                <h3>Blah blah blah Blah blah blah Blah blah blah Blah</h3>
                <p>blah blah</p>
            </div>
        </div>

        <div class="gap"></div>

        
        <script src="static/scripts/effects.js"></script>
        <script src="static/scripts/slideshow.js"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
          AOS.init();
        </script>
        
    </body>
    
</html>