<!DOCTYPE html>
<html lang="en">
    <head>
        
        {% include 'header.html' %}

        <!-- Preload slideshow images-->
        <link rel="preload" as="image" href="static/assets/slideshow/mona.png">
        <link rel="preload" as="image" href="static/assets/slideshow/text-gen.png">
        <link rel="preload" as="image" href="static/assets/slideshow/code.png">

        
        
        <title>Singularity | The power of AI at your fingertips</title>
         
    </head>
    
    <body>
        <div class="anchor" id="anchor0"></div>

        {% include 'navbar.html' %}
        
        <div data-aos="fade-in" data-aos-duration="700">
            <div id="landingSection">

                <img id="aiHandMobile" src="/static/assets/hand.png">

                <div id="aiText">
                    <h1 data-aos="fade-in" data-aos-duration="1200">The power of AI, <span class='purpText'>at your fingertips.</span></h1>
                    <p>Here at Singularity, we provide cutting-edge AI-powered services to maximize creativity and productivity through text, image, and code generation.</p>
                    <a id="getStarted" href="/demo">Get Started</a>
                </div>
                <img id="aiHand" src="static/assets/hand.png">
            </div>

            

            
        </div>

        <div style="height: 5vh"></div>
        <div class="anchor" id="anchor1"></div>
        <div style="height: 15vh"></div>

        <!-- SLIDESHOW SECTION -->

        <div id="slideControls">
            <img src="static/assets/svg/left.svg" id="prevSlide" onclick="prevSlide()" style="margin-right:20px">
            <div id="slideDot0" class="slideDot" onclick="showSlide(0)"></div>
            <div id="slideDot1" class="slideDot" onclick="showSlide(1)"></div>
            <div id="slideDot2" class="slideDot" onclick="showSlide(2)"></div>
            <img src="static/assets/svg/right.svg" id="nextSlide" onclick="nextSlide()" style="margin-left:20px">
        </div>

        <div id="slideshow" style="opacity: 0;">
            <img id="blurbImg" data-aos="fade-right" data-aos-duration="1000" data-os-delay="800">
            <div>
                <h1 data-aos="fade-right" data-aos-duration="1000" data-os-delay="300" id="blurbHeader">Write Content <span class="purpText">Effortlessly.</span></h1>
                <p data-aos="fade-right" data-aos-duration="1000"  data-os-delay="500" id="blurbText">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy
                    text ever since the scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry’s standard dummy text ever since the scrambled it to make a type specimen book.Lorem
                    Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever
                    since the scrambled it to make a type specimen book.
                </p>
            </div>
        </div>

        <div style="height:25vh;"></div>
            
            <div style="height: 15vh;"></div>

               
        <img src="static/assets/separator.png" style="width: 100%;display: block;">
        <div class="purpleSection">
            
            <div class="anchor" id="anchor2"></div> 
            <div style="height: 8vh;"></div>

            <!-- REVIEWS/TESTIMONIALS SECTION -->
            

            <div class="sectionHeader">
                <h1 style="text-shadow:0 0 100px rgb(255,255,255,0.4);color:rgb(42,41,85)">Hear from our <span class="purpText" style="text-shadow:0 0 100px">customers</span></h1>
                <p>Don't just take our word for it, hear what customers think.</p>

                
                <div style="display:none" id="starHolder" data-aos="fade-right" data-aos-duration="500">
                    <img src="static/assets/svg/star.png">
                    <img src="static/assets/svg/star.png">
                    <img src="static/assets/svg/star.png">
                </div>
            </div>

            <div data-aos="fade-right" data-aos-duration="1000">
            <div class="review">
                <img class="reviewFace" src="static/assets/reviews/face1.png">
                <div>
                    <h3>Singularity's text-generation service makes it so much easier to write lessons for my students!</h3>
                    <p>Martha J. • Elementary Teacher</p>
                </div>
            </div>

            <div class="review">
                <img class="reviewFace" src="static/assets/reviews/face2.png">
                <div>
                    <h3>With Singularity's image-generation, I was able to take my art pieces to the next level. I can't recommend it enough!</h3>
                    <p>Simeon O. • Digital Illustrator</p>
                </div>
            </div>

            <div class="review">
                <img class="reviewFace" src="static/assets/reviews/face3.png">
                <div>
                    <h3>I use Singularity's code generation feature everyday for my job as a software engineer. I've never been so productive!</h3>
                    <p>Quinn C. • Software Engineering</p>
                </div>
            </div>
            </div>

            
            <div style="height: 6vh"></div>
            <div class="anchor" id="anchor3"></div>
            <div style="height: 14vh"></div>
        

            <!-- PRICING SECTION -->

            <div class="sectionHeader">
                <h1 style="text-shadow:0 0 100px rgb(255,255,255,0.4)">Let's make something <span class="purpText" style="text-shadow: 0 0 100px;">happen.</span></h1>
                <p>Upgrade or cancel plans anytime. No strings attached.</p>
            </div>
            <br><br>

            <div id="pricingOptions" data-aos="fade-down" data-aos-duration="1000">
                <div>
                    <h2>Hobbyist</h2>
                    <p class="price">Free</p>
                    <p>• Full access to the Singularity Text-Generation Service</p>
                    <p>• Limited access to the Singularity Code-Generation Service (10 prompts/hour)</p>
                    <p>• Limited access to the Singularity Image-Generation Service (1 prompts/hour)</p>
                </div>

                <div id="proOption">
                    <p id="mostPopular">Most popular <img src="static/assets/svg/star.png"></p>
                    <h2>Professional</h2>
                    <p class="price">$10<span> / month</span></p>
                    <p>• Full access to the Singularity Text-Generation Service</p>
                    <p>• Full access to the Singularity Code-Generation Service</p>
                    <p>• Limited access to the Singularity Image-Generation Service (10 prompts/hour)</p>
                </div>

                <div style="z-index:0">
                    <h2>Enterprise</h2>
                    <p class="price">$30<span> / month</span></p>
                    <p>• Full access to the Singularity Text-Generation Service</p>
                    <p>• Full access to the Singularity Code-Generation Service</p>
                    <p>• Full access to the Singularity Image-Generation Service</p>
                    <p>• Faster generation speed</p>
                </div>
            </div>

            <a class="scroll-button" href="#anchor0" onclick="changeAnchor()"><img src="static/assets/svg/down.png"></a>
            
            
            
            <div class="gap"></div>
            <div class="gap"></div>

        

        
            {% include 'footer.html' %}
        </div>
        {% include 'scripts.html' %}
        <script src="static/scripts/effects.js"></script>
        
        

    </body>
    
</html>