<!-- login.html -->
<div id="loginForm" class="overlay" style="display: none;">
    <div class="container">
        <form>{#<form method="POST" action="{{ url_for('auth.login') }}">#}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        
            <input type="submit" value="Login">
        </form>
        <button type="button" onclick="hideLoginForm()">Close</button>
    </div>
</div>

<script>
    function showLoginForm() {
        document.getElementById('loginForm').style.display = 'flex';
    }
    
    function hideLoginForm() {
        document.getElementById('loginForm').style.display = 'none';
    }
</script>

<style>
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container {
        width: 300px;
        padding: 16px;
        background-color: rgba(255, 255, 255, 0.7); /* semi-transparent white */
        border: 1px solid black;
        border-radius: 4px;
    }
    </style>