<!-- DESKTOP NAVBAR -->
<div id="navbar">
    <a class="logo" href="/"><img src="static/assets/logo.png">singularity</a>
    <div class="navigation">
        <a href="/demo">Demo</a>
        <a href="/careers">Careers</a>
        <a href="/application">Apply</a>
        <a href="/sources">Sources</a>
        <a href="/login">Login</a>
    </div>
</div>


<!-- MOBILE NAVBAR -->
<div id="mobileNavbar">
    <a class="logo" href="/"><img src="static/assets/logo.png"></a>

    <img id="burgerToggle" onclick="toggleBurgerMenu()" src="/static/assets/svg/menu.svg">
</div>

<div id="burgerMenu">
    <a href="/demo">Demo</a>
    <a href="/careers">Careers</a>
    <a href="/application">Apply</a>
    <a href="/sources">Sources</a>
    <a href="/login">Login</a>
</div>
