<!-- DESKTOP NAVBAR -->
<div id="navbar">
    <a class="logo" href="/"><img src="static/assets/logo.png">singularity</a>
    <div class="navigation">
        <a class="nav-link" href="/demo">Demo</a>
        <a class="nav-link" href="/careers">Careers</a>
        <a class="nav-link" href="/application">Apply</a>
        <a class="nav-link" href="/aboutus">About</a>
        <a class="nav-link" href="/contact">Contact Us</a>
        <a class="material-icons-outlined" id="modeButton" onclick="switchMode()">dark_mode</a>
        <!--<button class="nav-link" onclick="showLoginForm()">Login</button>-->
    </div>
</div>

<style>
    div button {
        text-decoration: none;
        background: none;
        border: none;
    }
</style>

<!-- MOBILE NAVBAR -->
<div id="mobileNavbar">
    <a class="logo" href="/"><img src="static/assets/logo.png"></a>

    <img id="burgerToggle" onclick="toggleBurgerMenu()" src="/static/assets/svg/menu.svg">
</div>

<div id="burgerMenu">
    <a class="nav-link" href="/demo">Demo</a>
    <a class="nav-link" href="/careers">Careers</a>
    <a class="nav-link" href="/application">Apply</a>
    <a class="nav-link" href="/aboutus">About</a>
    <a class="nav-link" href="/contact">Contact Us</a>
    <!--<button class="nav-link" onclick="showLoginForm()">Login</button>-->
</div>
