<!DOCTYPE html>
<html lang="en">

    <head>
        
        <meta charset="UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css?family=Poppins:400,600,800" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Share+Tech&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
        <link rel="stylesheet" href="static/styles/main.css">
        <link rel="stylesheet" href="/static/styles/positions.css">

        <!-- Animate on Scroll -->
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <!-- Jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


        <!-- Favicon -->
        <link rel="icon" href="static/assets/logo.png">
        
        <title>Singularity | The power of AI at your fingertips</title>
         
    </head>
    
    <body>


        {% include 'navbar.html' %}

        <div id="burgerMenu">
            <a href="/demo">Demo</a>
            <a href="/careers">Careers</a>
            <a href="/application">Apply</a>
            <a href="/sources">Sources</a>
        </div>

    

        <div class="sectionHeader">
            <div>
                <h1>Open Positions</h1>
                <p>Join us on our mission to build an efficient, AI-powered future.</p>
            </div>
        </div>

        
        
        <div class="gap" style="height: 1vh;"></div>
    

        <!-- OPEN POSITIONS -->
        <div class="position">
            <h2>Hardware/Software Co-Design Engineer</h2>
            <p class="loc">Houston, TX</p>
            <button class="toggleView" id="toggleView1" onclick="toggleView(1)">View more information</button>

            <div id="jobDesc1">

                <h3>Job Description</h3>
                <p>We are seeking a passionate and innovative <span class="purpText">Hardware/Software Co-Design Engineer</span> to join our dynamic AI team at Singularity. 
                    As a key member, you will play a crucial role in designing, implementing, and optimizing machine learning models for cutting-edge
                     applications. You will collaborate with cross-functional teams to deliver scalable and robust AI solutions, pushing the boundaries of
                      technology in a fast-paced environment.    
                </p>

                <h3>Job Requirements</h3>
                <ul>
                    <li>Deep understanding of GPU/AI accelerators</li>
                    <li>Experience with CUDA or related accelerator programming language</li>
                    <li>Able to collaborate with ML, software, and hardware engineers</li>
                    <li>3+ years of relevant industry experience</li>
                    <li>Profiency in C, C++, and Python</li>
                    <li>Solid understanding of LLMs and associated challenges</li>
                </ul>

                <h3>Location</h3>
                <p>This job is based in Houston, TX. We use a flexible hybrid work model with 3 days in the office per week.</p>

                <h3>Salary and Benefits</h3>
                <p>Annual Salary Range: $265,000—$395,000 USD<br>Compensation also includes generous equity (in company stock) along with the following benefits:</p>
                <ul>
                    <li>Medical, dental, and vision insurance for yourself and your family</li>
                    <li>Mental health and wellness support</li>
                    <li>401(k) plan with 6% matching</li>
                    <li>Unlimited time off and 18+ company holidays per year</li>
                    <li>Paid parental leave (20 weeks) and family planning support</li>
                    <li>Annual learning and development stipend ($2000/year)</li>
                </ul>

                <a href="/application" class="apply">Apply now</a>
            </div>

        </div>


        <div class="position">
            <h2>Applied AI Product Data Scientist</h2>
            <p class="loc">Houston, TX</p>
            <button class="toggleView" id="toggleView2" onclick="toggleView(2)">View more information</button>

            <div id="jobDesc2">

                <h3>Job Description</h3>
                <p>We are seeking an <span class="purpText">Applied AI Product Data Scientist</span> to join our Applied Product team at Singularity. In this role, you will contribute to establishing
                     a data-driven product development culture, focusing on either consumer products or developer platforms. As a core member of the product development team,
                      you will play a pivotal role in shaping our first-party offerings. Most importantly, you will work closely with the development of Singularity through
                       the definition of our north-star metrics and A/B tests. 
                </p>

                <h3>Job Requirements</h3>
                <ul>
                    <li>5+ years of experience in a quantitative data science or product analyst role in a hyper-growth product company, navigating extensively ambiguous environments</li>
                    <li>Mastery of SQL and Python to design and run rigorous experiments providing clear product recommendations and insights</li>
                    <li>Experience defining and successfully implementing new feature/product metrics from scratch</li>
                    <li>Excellent communication skills with demonstrated ability to communicate with managers, executives, and engineers</li>
                </ul>

                <h3>Location</h3>
                <p>This job is based in Houston, TX. We use a flexible hybrid work model with 3 days in the office per week.</p>

                <h3>Salary and Benefits</h3>
                <p>Annual Salary Range: $245,000—$385,000 USD<br>Compensation also includes generous equity (in company stock) along with the following benefits:</p>
                <ul>
                    <li>Medical, dental, and vision insurance for yourself and your family</li>
                    <li>Mental health and wellness support</li>
                    <li>401(k) plan with 6% matching</li>
                    <li>Unlimited time off and 18+ company holidays per year</li>
                    <li>Paid parental leave (20 weeks) and family planning support</li>
                    <li>Annual learning and development stipend ($2000/year)</li>
                </ul>

                <a href="/application" class="apply">Apply now</a>
            </div>

        </div>


        <div class="position">
            <h2>Insider Risk Investigator</h2>
            <p class="loc">Houston, TX</p>
            <button class="toggleView" id="toggleView3" onclick="toggleView(3)">View more information</button>

            <div id="jobDesc3">

                <h3>Job Description</h3>
                <p>We are seeking a seasoned <span class="purpText">Insider Risk Investigator</span> to fortify our company, Singularity, 
                    against internal security risks and threats. In this job, you will play a crucial role in safeguarding Singularity’s assets by
                     analyzing any irregular activities, promoting a secure culture, and with interacting with various departments to mitigate risks.
                      Your expertise will be vital to protecting our company against potential risks, contributing to the broader societal benefits of
                       artificial intelligence. In this role, you will correlate data from various sources and conduct investigations into suspicious
                        activities in order to maintain security across the company and mitigate internal threats.
                </p>

                <h3>Job Requirements</h3>
                <ul>
                    <li>Bachelor’s degree/higher education in computer science and/or related subject</li>
                    <li>3+ years of experience in cybersecurity or related domain</li>
                    <li>Mastery of SIEM (Security Information and Event Management) along with User Behavior Analytics tools</li>
                    <li>Strong communicative skills to be able to relay complex issues to non-technical stakeholders</li>
                </ul>

                <h3>Location</h3>
                <p>This job is based in Houston, TX. We use a flexible hybrid work model with 3 days in the office per week.</p>

                <h3>Salary and Benefits</h3>
                <p>Annual Salary Range: $225,000—$275,000 USD<br>Compensation also includes generous equity (in company stock) along with the following benefits:</p>
                <ul>
                    <li>Medical, dental, and vision insurance for yourself and your family</li>
                    <li>Mental health and wellness support</li>
                    <li>401(k) plan with 6% matching</li>
                    <li>Unlimited time off and 18+ company holidays per year</li>
                    <li>Paid parental leave (20 weeks) and family planning support</li>
                    <li>Annual learning and development stipend ($2000/year)</li>
                </ul>

                <a href="/application" class="apply">Apply now</a>
            </div>

        </div>
       
        <div class="position">
            <h2>Revenue Technology Product Manager</h2>
            <p class="loc">Houston, TX</p>
            <button class="toggleView" id="toggleView4" onclick="toggleView(4)">View more information</button>

            <div id="jobDesc4">

                <h3>Job Description</h3>
                <p>We are seeking a passionate and innovative <span class="purpText">Revenue Technology Product Manager</span> to join our dynamic Revenue Operations team at Singularity. 
                    As a key member, you will play a crucial role in building the foundational infrastructure to enable a world class GTM organization that helps customers evolve their industries with AI. 
                    You will collaborate with with sales, customer success, and your colleagues in revenue operations to deliver scalable and robust AI solutions, pushing the boundaries of
                      technology in a fast-paced environment.    
                </p>

                <h3>Job Requirements</h3>
                <ul>
                    <li>Experience working in different GTM or revenue technology applications</li>
                    <li>Aptitude in distilling technical and functional aspects of revtech application to non-technical stakeholders such as sales people and CSMs.</li>
                    <li>Hands-on experience administering and configuring different revtech applications</li>
                    <li>3+ years of relevant industry experience</li>
                </ul>

                <h3>Location</h3>
                <p>This job is based in Houston, TX. We use a flexible hybrid work model with 3 days in the office per week.</p>

                <h3>Salary and Benefits</h3>
                <p>Annual Salary Range: $180,500—$205,000 USD<br>Compensation also includes generous equity (in company stock) along with the following benefits:</p>
                <ul>
                    <li>Medical, dental, and vision insurance for yourself and your family</li>
                    <li>Mental health and wellness support</li>
                    <li>401(k) plan with 6% matching</li>
                    <li>Unlimited time off and 18+ company holidays per year</li>
                    <li>Paid parental leave (20 weeks) and family planning support</li>
                    <li>Annual learning and development stipend ($2000/year)</li>
                </ul>

                <a href="/application" class="apply">Apply now</a>
            </div>

        </div>

        <div class="position">
            <h2>Analytics Engineer, Finance</h2>
            <p class="loc">Houston, TX</p>
            <button class="toggleView" id="toggleView5" onclick="toggleView(5)">View more information</button>

            <div id="jobDesc5">

                <h3>Job Description</h3>
                <p>We are seeking a passionate and motivated <span class="purpText">Analytics Engineer</span> to join our dynamic Finance Organization at Singularity. 
                    As a key member, you will play a crucial role in scaling analytics across business teams and driving efficiencies in our day-to-day operations.
                    You will collaborate with a bright team providing expertise in the subject matter of all financial and transactional data that supports our revenue and infrastructure cost accounting.
                </p>

                <h3>Job Requirements</h3>
                <ul>
                    <li>5+ years of experience as an Analytics Engineer or in a similar role (Data Analyst or Data Engineer) with proven track record in shipping canonical datasets</li>
                    <li>Empathy towards business stakeholders and understanding their day-to-day pain points</li>
                    <li>Strong proficiency in SQL for data manipulation, comfortable in at least one functional/OOP language such as Python or Rs</li>
                    <li>Familiar with managing distributed data stores (e.g S3, Trino, Hive, Spark), and experienced in building multi-step ETL jobs coupled with orchestrating workflows (e.g Airflow, Dagster)</li>
                    <li>Expert at creating compelling data visualizations with dashboarding tools (e.g Tableau, Looker or similar)</li>
                    <li>Comfortable with solving for ambiguous problem statements in an early stage environment</li>
                </ul>

                <h3>Location</h3>
                <p>This job is based in Houston, TX. We use a flexible hybrid work model with 3 days in the office per week.</p>

                <h3>Salary and Benefits</h3>
                <p>Annual Salary Range: $210,000—$265,000 USD<br>Compensation also includes generous equity (in company stock) along with the following benefits:</p>
                <ul>
                    <li>Medical, dental, and vision insurance for yourself and your family</li>
                    <li>Mental health and wellness support</li>
                    <li>401(k) plan with 6% matching</li>
                    <li>Unlimited time off and 18+ company holidays per year</li>
                    <li>Paid parental leave (20 weeks) and family planning support</li>
                    <li>Annual learning and development stipend ($2000/year)</li>
                </ul>

                <a href="/application" class="apply">Apply now</a>
            </div>

        </div>

        <div class="position">
            <h2>Solutions Architect</h2>
            <p class="loc">Houston, TX</p>
            <button class="toggleView" id="toggleView6" onclick="toggleView(6)">View more information</button>

            <div id="jobDesc6">

                <h3>Job Description</h3>
                <p>We are seeking a passionate and motivated <span class="purpText">Solutions Architect</span> to join our dynamic Success Team at Singularity. 
                    As a key member, you will play a crucial role in ensuring developers and enterprises are successful in building scalable production applications with the Singularity API platform.
                    You will proactively provide guidance to our customers on how to maximize business impact from their use cases, accelerating their time to value.
                </p>

                <h3>Job Requirements</h3>
                <ul>
                    <li>Have 5+ years of technical consulting (or equivalent) experience.</li>
                    <li>Are proficient in Python and Javascript.</li>
                    <li>Built and/or delivered prototypes on top of our API platform.</li>
                    <li>Own problems end-to-end, and are willing to pick up whatever knowledge you're missing to get the job done to ensure both your team and our customers succeed.</li>
                    <li>Have a humble attitude and an eagerness to help others with empathy.</li>
                    <li>Thrive in dynamic environments and can navigate ambiguity with ease.</li>
                </ul>

                <h3>Location</h3>
                <p>This job is based in Houston, TX. We use a flexible hybrid work model with 3 days in the office per week.</p>

                <h3>Salary and Benefits</h3>
                <p>Annual Salary Range: $220,000—$280,000 USD<br>Compensation also includes generous equity (in company stock) along with the following benefits:</p>
                <ul>
                    <li>Medical, dental, and vision insurance for yourself and your family</li>
                    <li>Mental health and wellness support</li>
                    <li>401(k) plan with 6% matching</li>
                    <li>Unlimited time off and 18+ company holidays per year</li>
                    <li>Paid parental leave (20 weeks) and family planning support</li>
                    <li>Annual learning and development stipend ($2000/year)</li>
                </ul>

                <a href="/application" class="apply">Apply now</a>
            </div>

        </div>

        <div class="gap"></div>

        {% include 'footer.html' %}


        {% include 'scripts.html' %}
        
    </body>
    
</html>