<script src="/static/scripts/navbar.js"></script>
<script src="static/scripts/slideshow.js"></script>
<script src="static/scripts/login.js"></script>
<script src="static/scripts/position.js"></script>
<script src="static/scripts/application.js"></script>
<script src="static/scripts/scroll.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script defer src="https://app.fastbots.ai/embed.js" data-bot-id="clxqqxysn03b0ohbc8hhkinzz"></script>
<script>
  AOS.init();
</script>
