<!DOCTYPE html>
<html lang="en">
    <head>
        
        {% include 'header.html' %}
        
        <title>Sources | Singularity</title>
         
    </head>
    
    <body>
        
        {% include 'navbar.html' %}

        <div id="burgerMenu">
            <a href="/demo">Demo</a>
            <a href="/careers">Careers</a>
            <a href="/application">Apply</a>
            <a href="/sources">Sources</a>
        </div>


        <div data-aos="fade-in" data-aos-duration="700">
            <div class="sources">
                <h1>Sources Referenced</h1>
                <h2>Image Sources (Unsplash)</h2>
                <p></p><a href="https://images.unsplash.com/photo-1580489944761-15a19d654956?q=80&w=2561&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" target="_blank">https://images.unsplash.com/photo-1580489944761-15a19d654956?q=80&w=2561&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D</a>
                <br><a href="https://unsplash.com/photos/man-in-white-polo-shirt-sitting-on-brown-rock-9RZ7s4kEv54" target="_blank">https://unsplash.com/photos/man-in-white-polo-shirt-sitting-on-brown-rock-9RZ7s4kEv54</a>
                <br><a href="https://unsplash.com/photos/woman-wearing-white-and-red-floral-top-across-body-of-water-GY5gWDimEyg" target="_blank">https://unsplash.com/photos/woman-wearing-white-and-red-floral-top-across-body-of-water-GY5gWDimEyg</a>
                <br>
                <h2>Careers Sources (OpenAI)</h2>
                <a href="https://openai.com/careers/hwsw-co-design-engineer" target="_blank">https://openai.com/careers/hwsw-co-design-engineer</a>
                <br><a href="https://openai.com/careers/data-scientist-product" target="_blank">https://openai.com/careers/data-scientist-product</a>
                <br><a href="https://openai.com/careers/insider-risk-investigator" target="_blank">https://openai.com/careers/insider-risk-investigator</a>
                <br><a href="https://openai.com/careers/revenue-technology-product-manager" target="_blank">https://openai.com/careers/revenue-technology-product-manager</a>
                <br><a href="https://openai.com/careers/analytics-engineer-finance" target="_blank">https://openai.com/careers/analytics-engineer-finance</a>
                <br><a href="https://openai.com/careers/solutions-architect" target="_blank">https://openai.com/careers/solutions-architect</a>

                <h2>APIs (Flask, Jquery, AOS, OpenAI)</h2>
                <a href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank">https://flask.palletsprojects.com/en/3.0.x/</a>
                <br><a href="https://api.jquery.com/" target="_blank">https://api.jquery.com/</a>
                <br><a href="https://github.com/michalsnik/aos" target="_blank">https://github.com/michalsnik/aos</a>
                <p>The hand image, the Mona Lisa image, and all images, text, and code in the Demo page were generated using OpenAi's GPT-3 API and Dall-E API</p>
            </div>

            

            
        </div>

        <div class="gap"></div>

        {% include 'footer.html' %}

        {% include 'scripts.html' %}
        
    </body>
    
</html>