<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css?family=Poppins:400,600,800" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Share+Tech&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="static/styles/main.css">

        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        
        <title>Try It Out | Singularity</title>
         
    </head>
    
    <body>

        <div id="navbar">
            <a class="logo" href="index.html"><img src="static/assets/logo.png">singularity</a>
        </div>

        <div id="landingSection" data-aos="fade-in" data-aos-duration="700" data-aos-delay="400">
            <div style="max-width: unset;text-align: center;">
                <h1>Still skeptical?<br><span class='purpText'>try it out!</span></h1>
                <p>Explore the versatility of Singularity's services in this free-to-use demo.</p>
            </div>
        </div>
        
        <div class="demoPrompt">
            <p class="dropdown" id="demoType"><span id="demoTypeText">Generate an image of</span><img src="static/assets/svg/down.svg"></p>
            <p class="dropdown" id="imageSubject"><span id="imageSubjectText"> Santa Claus</span><img src="static/assets/svg/down.svg"></p>
            <p class="dropdown" id="imageVerb"><span id="imageVerbText"> riding a skateboard</span><img src="static/assets/svg/down.svg"></p>
        </div>

        <div id="demoSpace">
            <img src="static/assets/ai-pics/santa/skateboard/0.png">
        </div>


        <script src="static/scripts/app.js"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
          AOS.init();
        </script>
        
    </body>
    
</html>